# Uncomment these types if you want even more clean repository. But be careful.
# It can make harm to an existing project source. Read explanations below.
#
# Resource files are binaries containing manifest, project icon and version info.
# They can not be viewed as text or compared by diff-tools. Consider replacing them with .rc files.
#*.res
#
# Type library file (binary). In old Delphi versions it should be stored.
# Since Delphi 2009 it is produced from .ridl file and can safely be ignored.
#*.tlb
#
# Diagram Portfolio file. Used by the diagram editor up to Delphi 7.
# Uncomment this if you are not using diagrams or use newer Delphi version.
#*.ddp
#
# Visual LiveBindings file. Added in Delphi XE2.
# Uncomment this if you are not using LiveBindings Designer.
#*.vlb
#
# Deployment Manager configuration file for your project. Added in Delphi XE2.
# Uncomment this if it is not mobile development and you do not use remote debug feature.
#*.deployproj
#
# C++ object files produced when C/C++ Output file generation is configured.
# Uncomment this if you are not using external objects (zlib library for example).
#*.obj
#

# Default Delphi compiler directories
# Content of this directories are generated with each Compile/Construct of a project.
# Most of the time, files here have not there place in a code repository.
Win32/
Win64/
#OSX64/
#OSXARM64/
Android/
Android64/
iOSDevice64/
#Linux64/

# Delphi compiler-generated binaries (safe to delete)
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

# Delphi autogenerated files (duplicated info)
*.cfg
*.hpp
*Resource.rc

# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

# Delphi history and backups
__history/
__recovery/
*.~*

# Castalia statistics file (since XE7 Castalia is distributed with Delphi)
*.stat

# Boss dependency manager vendor folder https://github.com/HashLoad/boss
modules/
Android/Debug/styles.xml
Android/Debug/styles-v35.xml
Android/Debug/styles-v31.xml
Android/Debug/styles-v21.xml
Android/Debug/strings.xml
Android/Debug/splash_image_def.xml
Android/Debug/splash_image_def-v21.xml
Android/Debug/ResourcePackagePropertyList.txt
Android/Debug/ResourceCompilePropertyList.txt
Android/Debug/Project1/res/values/styles.xml
Android/Debug/Project1/res/values/strings.xml
Android/Debug/Project1/res/values/colors.xml
Android/Debug/Project1/res/values-v35/styles.xml
Android/Debug/Project1/res/values-v31/styles.xml
Android/Debug/Project1/res/values-v21/styles.xml
Android/Debug/Project1/res/values-night-v21/colors.xml
Android/Debug/Project1/res/drawable/splash_vector.xml
Android/Debug/Project1/res/drawable/splash_image_def.xml
Android/Debug/Project1/res/drawable/ic_launcher_monochrome.xml
Android/Debug/Project1/res/drawable/ic_launcher_foreground.xml
Android/Debug/Project1/res/drawable/ic_launcher_background.xml
Android/Debug/Project1/res/drawable-xxxhdpi/ic_notification.png
Android/Debug/Project1/res/drawable-xxxhdpi/ic_launcher.png
Android/Debug/Project1/res/drawable-xxhdpi/ic_notification.png
Android/Debug/Project1/res/drawable-xxhdpi/ic_launcher.png
Android/Debug/Project1/res/drawable-xlarge/splash_image.png
Android/Debug/Project1/res/drawable-xhdpi/ic_notification.png
Android/Debug/Project1/res/drawable-xhdpi/ic_launcher.png
Android/Debug/Project1/res/drawable-small/splash_image.png
Android/Debug/Project1/res/drawable-normal/splash_image.png
Android/Debug/Project1/res/drawable-night-anydpi-v31/splash_vector.xml
Android/Debug/Project1/res/drawable-night-anydpi-v21/splash_vector.xml
Android/Debug/Project1/res/drawable-mdpi/ic_notification.png
Android/Debug/Project1/res/drawable-mdpi/ic_launcher.png
Android/Debug/Project1/res/drawable-ldpi/ic_launcher.png
Android/Debug/Project1/res/drawable-large/splash_image.png
Android/Debug/Project1/res/drawable-hdpi/ic_notification.png
Android/Debug/Project1/res/drawable-hdpi/ic_launcher.png
Android/Debug/Project1/res/drawable-anydpi-v33/ic_launcher.xml
Android/Debug/Project1/res/drawable-anydpi-v31/splash_vector.xml
Android/Debug/Project1/res/drawable-anydpi-v26/ic_launcher.xml
Android/Debug/Project1/res/drawable-anydpi-v24/ic_notification.xml
Android/Debug/Project1/res/drawable-anydpi-v21/splash_image_def.xml
Android/Debug/Project1/bin/Project1.apk.idsig
Android/Debug/Project1/AndroidManifest.xml
Android/Debug/Project1.classes/classes2.dex
Android/Debug/Project1.classes/classes.dex
Android/Debug/PackagedResources.zip
Android/Debug/ManifestMergePropertyList.txt
Android/Debug/ManifestGenerationPropertyList.txt
Android/Debug/ic_launcher.xml
Android/Debug/ic_launcher-v33.xml
Android/Debug/DexPropertyList.txt
Android/Debug/DexList.txt
Android/Debug/CompiledResourcesList.txt
Android/Debug/CompiledResources/values_styles.arsc.flat
Android/Debug/CompiledResources/values_strings.arsc.flat
Android/Debug/CompiledResources/values_colors.arsc.flat
Android/Debug/CompiledResources/values-v35_styles.arsc.flat
Android/Debug/CompiledResources/values-v31_styles.arsc.flat
Android/Debug/CompiledResources/values-v21_styles.arsc.flat
Android/Debug/CompiledResources/values-night-v21_colors.arsc.flat
Android/Debug/CompiledResources/drawable_splash_vector.xml.flat
Android/Debug/CompiledResources/drawable_splash_image_def.xml.flat
Android/Debug/CompiledResources/drawable_ic_launcher_monochrome.xml.flat
Android/Debug/CompiledResources/drawable_ic_launcher_foreground.xml.flat
Android/Debug/CompiledResources/drawable_ic_launcher_background.xml.flat
Android/Debug/CompiledResources/drawable-xxxhdpi_ic_notification.png.flat
Android/Debug/CompiledResources/drawable-xxxhdpi_ic_launcher.png.flat
Android/Debug/CompiledResources/drawable-xxhdpi_ic_notification.png.flat
Android/Debug/CompiledResources/drawable-xxhdpi_ic_launcher.png.flat
Android/Debug/CompiledResources/drawable-xlarge_splash_image.png.flat
Android/Debug/CompiledResources/drawable-xhdpi_ic_notification.png.flat
Android/Debug/CompiledResources/drawable-xhdpi_ic_launcher.png.flat
Android/Debug/CompiledResources/drawable-small_splash_image.png.flat
Android/Debug/CompiledResources/drawable-normal_splash_image.png.flat
Android/Debug/CompiledResources/drawable-night-anydpi-v31_splash_vector.xml.flat
Android/Debug/CompiledResources/drawable-night-anydpi-v21_splash_vector.xml.flat
Android/Debug/CompiledResources/drawable-mdpi_ic_notification.png.flat
Android/Debug/CompiledResources/drawable-mdpi_ic_launcher.png.flat
Android/Debug/CompiledResources/drawable-ldpi_ic_launcher.png.flat
Android/Debug/CompiledResources/drawable-large_splash_image.png.flat
Android/Debug/CompiledResources/drawable-hdpi_ic_notification.png.flat
Android/Debug/CompiledResources/drawable-hdpi_ic_launcher.png.flat
Android/Debug/CompiledResources/drawable-anydpi-v33_ic_launcher.xml.flat
Android/Debug/CompiledResources/drawable-anydpi-v31_splash_vector.xml.flat
Android/Debug/CompiledResources/drawable-anydpi-v26_ic_launcher.xml.flat
Android/Debug/CompiledResources/drawable-anydpi-v24_ic_notification.xml.flat
Android/Debug/CompiledResources/drawable-anydpi-v21_splash_image_def.xml.flat
Android/Debug/colors.xml
Android/Debug/colors-night-v21.xml
Android/Debug/BuildClassesDex.stamp
Android/Debug/AndroidManifest.xml
Android/Debug/AndroidManifest-merged.xml
Android/Debug/AndroidLibraryManifestList.txt
AndroidManifest.template.xml
Entitlement.TemplateiOS.xml
info.plist.TemplateiOS.xml
iOSDevice64/Debug/SkiaChart
iOSDevice64/Debug/SkiaChart.dSYM
iOSDevice64/Debug/SkiaChart.entitlements
iOSDevice64/Debug/SkiaChart.info.plist
iOSDevice64/Debug/SkiaChart.launchscreen/Assets/AppIcon.appiconset/Contents.json
iOSDevice64/Debug/SkiaChart.launchscreen/Assets/Contents.json
iOSDevice64/Debug/SkiaChart.launchscreen/Assets/LaunchScreenBackgroundColor.colorset/Contents.json
iOSDevice64/Debug/SkiaChart.launchscreen/Assets/LaunchScreenImage.imageset/Contents.json
iOSDevice64/Debug/SkiaChart.launchscreen/LaunchScreen.storyboard
LaunchScreen.TemplateiOS/Assets/AppIcon.appiconset/Contents.json
LaunchScreen.TemplateiOS/Assets/Contents.json
LaunchScreen.TemplateiOS/Assets/LaunchScreenBackgroundColor.colorset/Contents.json
LaunchScreen.TemplateiOS/Assets/LaunchScreenImage.imageset/Contents.json
LaunchScreen.TemplateiOS/LaunchScreen.storyboard
SkiaChart.deployproj
SkiaChart.res
